.footer {
  letter-spacing: 0;
  .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: rem(1200px);
  }
  &__top {
    background-color: $bg-gray;
    color: $text-inverse;
    padding: rem(32px 60px);
    height: rem(441px);
    font-family: $font-family-base;
    @include font('light', 14px, 16px);
  }
  &__bottom {
    background-color: white;
    color: $text;
    height: rem(51px);
    padding: rem(0 60px);
    font-family: $font-family-base;
    @include font('light', 12px, 12px);
    text-transform: uppercase;
    .wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    .panel-social__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        margin-left: rem(7px);
      }
    }
  }

  &__title {
    font-family: $font-family-roboto;
    @include font('regular', 15px, 16px);
    margin-bottom: rem(10px);
  }
  &__logo {
    width: rem(298px);
    height: rem(24px);
    margin-bottom: rem(20px);
    img {
      max-width: 100%;
    }
  }
  &__row {
    display: grid;
    width: 100%;
    grid-template-columns: max-content max-content auto;
    grid-column-gap: rem(50px);
    margin-bottom: rem(25px);
  }
  &__contact-info {
    display: grid;
    grid-column-gap: rem(80px);
    grid-template-columns: repeat(2, max-content);
    &__address {
      text-transform: uppercase;
      white-space: nowrap;
    }
    &__contacts {
      margin-top: rem(17px);
    }
  }
  &__nav {
    display: grid;
    grid-column-gap: rem(50px);
    grid-template-columns: repeat(2, max-content);
    ul li {
      margin-bottom: rem(12px);
    }
  }
  &__feedback {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: rem(30px);
    button:first-child {
      margin-right: rem(30px);
    }
  }
  &__write-us {
    margin-right: rem(20px);
    padding-right: rem(32px);
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: rem(-5px);
      right: 0;
      width: rem(22px);
      height: rem(22px);
      background: url('/src/images/footer/letter.png') no-repeat center/cover;
    }
  }
  &__data {
    > div {
      display: flex;
      flex-flow: row nowrap;
    }
    &-title {
      margin-right: rem(4px);
    }
    &-data {
      color: #C2C2C2;
    }
  }
}
