.footer {
  letter-spacing: 0;
  .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: rem(1200px);
    @include min-screen(1280px) {
      max-width: 1200px;
    }
  }
  &__top {
    background-color: $bg-gray;
    color: $text-inverse;
    padding: rem(32px 60px);
    height: rem(441px);
    font-family: $font-family-base;
    @include font('light', 14px, 16px);
    @include max-screen(1130px) {
      background-color: $dark-green;
      padding-top: rem(41px);
      height: rem(292px);
      .wrapper {
        border-top: 1px solid white;
        padding-top: rem(26px);
      }
    }
    @include min-screen(1280px) {
      padding: 32px 60px;
      height: 441px;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__bottom {
    background-color: white;
    color: $text;
    height: rem(51px);
    padding: rem(0 60px);
    font-family: $font-family-base;
    @include font('light', 12px, 12px);
    text-transform: uppercase;
    @include min-screen(1280px) {
      height: 51px;
      padding: 0 60px;
      font-size: 12px;
      line-height: 12px;
    }
    .wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    .panel-social__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        margin-left: rem(7px);
        @include min-screen(1280px) {
          margin-left: 7px;
        }
      }
    }
    @include max-screen(1130px) {
      display: none;
    }
  }

  &__title {
    font-family: $font-family-roboto;
    @include font('regular', 15px, 16px);
    margin-bottom: rem(10px);
    @include max-screen(1130px) {
      display: none;
    }
    @include min-screen(1280px) {
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 16px;
    }
  }
  &__logo {
    width: rem(298px);
    height: rem(24px);
    margin-bottom: rem(20px);
    img {
      max-width: 100%;
    }
    @include max-screen(1130px) {
      display: none;
    }
    @include min-screen(1280px) {
      width: 298px;
      height: 24px;
      margin-bottom: 20px;
    }
  }
  &__row {
    display: grid;
    width: 100%;
    grid-template-columns: max-content max-content auto;
    grid-column-gap: rem(50px);
    margin-bottom: rem(25px);
    @include max-screen(1130px) {
      grid-template-columns: max-content auto;
    }
    @include min-screen(1280px) {
      grid-column-gap: 50px;
      margin-bottom: 25px;
    }
  }
  &__contact-info {
    display: grid;
    grid-column-gap: rem(80px);
    grid-template-columns: repeat(2, max-content);
    @include max-screen(767px) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: rem(32px);
    }
    @include min-screen(1280px) {
      grid-column-gap: 80px;
    }
    &__address {
      text-transform: uppercase;
      white-space: nowrap;
    }
    &__contacts {
      margin-top: rem(17px);
      @include min-screen(1280px) {
        margin-top: 17px;
      }
      @include max-screen(767px) {
        a {
          display: inline-block;
          padding-left: rem(22px);
          line-height: rem(22px);
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        a[href*='tel']:before {
          width: rem(19px);
          height: rem(19px);
          background: url('/src/images/footer/phone-1.png') no-repeat
            center/contain;
        }
        a[href*='mailto']:before {
          width: rem(17px);
          height: rem(17px);
          background: url('/src/images/footer/letter.png') no-repeat
            center/contain;
          top: rem(1px);
        }
      }
    }
  }
  &__nav {
    display: grid;
    grid-column-gap: rem(50px);
    grid-template-columns: repeat(2, max-content);
    @include max-screen(1130px) {
      display: none;
    }
    @include min-screen(1280px) {
      grid-column-gap: 50px;
    }
    ul li {
      margin-bottom: rem(12px);
      @include min-screen(1280px) {
        margin-bottom: 12px;
      }
    }
  }
  &__feedback {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: rem(30px);
    @include max-screen(920px) {
      flex-flow: column nowrap;
      margin: 0;
    }
    @include min-screen(1280px) {
      margin-bottom: 20px;
    }
    button:first-child {
      margin-right: rem(30px);
      @include max-screen(920px) {
        margin: rem(0 0 22px 0);
      }
      @include min-screen(1280px) {
        margin-right: 30px;
      }
    }
  }
  &__write-us {
    margin-right: rem(20px);
    padding-right: rem(32px);
    position: relative;
    @include max-screen(920px) {
      display: none;
    }
    @include min-screen(1280px) {
      margin-right: 20px;
      padding-right: 32px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: rem(-5px);
      right: 0;
      width: rem(22px);
      height: rem(22px);
      background: url('/src/images/footer/letter.png') no-repeat center/cover;
      @include min-screen(1280px) {
        top: -5px;
        width: 22px;
        height: 22px;
      }
    }
  }
  &__data {
    @include max-screen(767px) {
      display: none;
    }
    > div {
      display: flex;
      flex-flow: row nowrap;
    }
    &-title {
      margin-right: rem(4px);
      @include min-screen(1280px) {
        margin-right: 4px;
      }
    }
    &-data {
      color: #c2c2c2;
    }
  }
}
