.header {
  position: relative;
  height: rem(100px);
  width: 100%;
  background-color: $bg-gray;
  color: $text-inverse;
  &__inner {
    position: relative;
    margin: 0 auto;
    max-width: rem(1220px);
    padding: rem(15px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &-option {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &--logo {
      width: rem(342px);
      height: rem(72px);
    }
    &--contacts {
      margin: rem(0 20px);
    }
    &__phone {
      a {
        color: $text-inverse;
        font-family: $font-family-roboto;
        @include font('medium', 14px, 16px);
        letter-spacing: 0;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__mail {
      a {
        color: $text-inverse;
        font-family: $font-family-roboto;
        @include font('medium', 16px, 18px);
        letter-spacing: 0;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__search {
      width: rem(22px);
      height: rem(24px);
      margin-right: rem(32px);
      a {
        display: inline-block;
      }
    }
    &__profile {
      width: rem(29px);
      height: rem(26px);
      margin-right: rem(32px);
      a {
        display: inline-block;
      }
    }
    &__buttons {
      display: flex;
      flex-flow: row nowrap;
      button:first-child {
        margin-right: rem(30px);
      }
    }
  }
  &-divider {
    margin: rem(0 20px);
    width: 1px;
    height: rem(43px);
    background-color: white;
  }
}
