.button {
  display: block;
  font-family: $font-family-ibm;
  @include font('regular', 15px, 42px);
  letter-spacing: 0;
  text-align: center;
  color: $text-inverse;
  text-transform: uppercase;
  border-radius: rem(10px);
  border: 0;
  box-shadow: none;
  outline: none;
  padding: rem(0 10px);
  margin: 0;
  background-color: $bg-gray;
  width: rem(174px);
  height: rem(41px);
  cursor: pointer;
  transition: 120ms;

  @include min-screen(1280px) {
    font-size: 15px;
    line-height: 42px;
    border-radius: 10px;
    padding: 0 10px;
    width: 174px;
    height: 41px;
  }

  &:hover,
  &:active {
    filter: brightness(95%);
  }

  &--green {
    background-color: $bg-green;
  }
  &--red {
    background-color: $bg-red;
  }
}
