.members {
    color: $text;
    padding: 86px 0 86px 0;
    }
    
    .members__title,
    .members__one__text,
    .members__two__text,
    .members__three__text {
    font-family: $font-family-base;
    }