.members {
    width: 100%;
    color: $text;
    padding: 50px 10px 60px 0;
    background-image: url(/src/images/members/spot2.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 400px;
}
    
.members__title,
.members__one__text,
.members__two__text,
.members__three__text {
    font-family: $font-family-base;
    margin: 20px 0 35px 0;
    }

.members__title {
    display: flex;
    justify-content: center;
}

.members__one a,
.members__two a,
.members__three a {
    text-decoration: none;
    color: $text;
}

a:hover {
    text-shadow: 0 0 7px #2C5E5BD9;
}    
    
.members__one,
.members__three {
    display: flex;
    justify-content: flex-start;
    margin: 10px 350px 0 250px;
}
    
.members__two {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin: 0 250px 10px 350px;
    gap: 20px;
}
    
.members__one {
    gap: 30px;
}

.members__three {
    gap: 20px;
}

/* для десктопов*/
@media screen and (max-width:1200px) {
    .members {
        background-size: 300px;
    }

    .members__one,
    .members__three {
        margin: 0 0 20px 65px;
    }

    .members__two {
        margin: 0 95px 20px 145px;
        gap: 20px;
    }
}

/* для планшетов*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .members {
        background-size: 300px;
    }

    .members__one__icon {
        transform: rotate(33deg);
    }

    .members__one,
    .members__three {
        margin: 0 100px 20px 40px;
    }

    .members__two {
        margin: 0 95px 20px 145px;
        gap: 20px;
    }
}

/*для сматрфонов*/
@media screen and (max-width:767px) {
    .members {
        background-image: none;
    }

    .members__title {
        font-size: 40px;
        line-height: 48px;
        margin: 2px;
    }

    .members__one__text,
    .members__two__text,
    .members__three__text {
        font-size: 18px;
        line-height: 22px;
    }

    .members__one__icon {
        transform: rotate(33deg);
    }

    .members__one,
    .members__two,
    .members__three {
        margin: 10px;
        gap: 0;
    }

    .members__two {
        gap: 20px;
    }
}
