.members {
  color: $text;
  padding: rem(0 27px);
  margin-top: rem(100px);

  &__title {
    text-align: center;
    margin-bottom: rem(60px);
    @include max-screen(1130px) {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .member {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: rem(20px);
    a {
      text-decoration: none;
      color: $text;
      transition: 400ms ease-out;
      @include body;
      &:hover {
        @include effect-green-links;
      }
    }

    &__text {
      @include max-screen(1130px) {
        display: inline-block;
      }
    }

    &--one {
      max-width: rem(800px);
      .member__icon {
        width: rem(52px);
        height: rem(93px);
        margin-left: rem(27px);
        transform: rotate(-30deg);
        @include max-screen(1130px) {
          transform: none;
          margin-left: rem(5px);
        }
      }
    }
    &--two {
      align-self: flex-end;
      max-width: rem(860px);
      .member__icon {
        width: rem(104px);
        height: rem(140px);
        margin-right: rem(27px);
      }
      .member__text {
        margin-bottom: rem(16px);
      }
    }
    &--three {
      max-width: rem(880px);
      .member__icon {
        width: rem(121px);
        height: rem(103px);
        margin-left: rem(20px);
        @include max-screen(1130px) {
          margin-left: rem(5px);
        }
      }
    }
  }
}
