.application {
    position: absolute;
    width: 1170px;
    height: 1334px;
    left: 375px;
    top: 5076px;
}

.application_text {
    width: 1170px;
    height: 83px;
    left: 375px;
    top: 5076px;

    @include h2;
}

.application__form_text {
    display: flex;
    align-items: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;

    font-family: 'Noir Pro', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.application_input-box {
    width: 1055px;
    height: 65px;
    background: #E2E2E2;
    border-radius: 16px;
}
.application__form_conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1055px;
}

.application_input-box__post {
    width: 479px;
    height: 65px;
    background: #E2E2E2;
    border-radius: 16px;
}

.application_input-box__telefon {
    width: 479px;
    height: 65px;
    background: #E2E2E2;
    border-radius: 16px;
}

.application_button {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 1055px;
margin: 60px 0 0 0;
padding: 30px 0 0 0;
}

.application_button__about_project {
    width: 485px;
    height: 77px;
    background: linear-gradient(243.74deg, #FFFAE1 3.43%, #87C1B7 96.99%);
    border-radius: 13px;

    font-family: 'Noir Pro', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 104%;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.application_button__loading { 
    width: 480px;
    height: 77px;
    background: linear-gradient(331.15deg, #B5DCDA -10.25%, rgba(255, 249, 185, 0) 385.42%);
    opacity: 0.55;
    border-radius: 13px;
    font-family: 'Noir Pro', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 104%;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}
.application_button__end {
    margin: 60px 0 0 0;
}
.application_button__aplication {
    width: 1055px;
    height: 77px;
    background: linear-gradient(111.56deg, #2C5E5B 18.82%, #415C7A 64.16%);
    border-radius: 13px;
    font-family: 'Noir Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 104%;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
}