.contacts {
  position: relative;
  background-color: white;
  padding: rem(100px 60px 116px);

  &__title {
    text-align: center;
    margin-bottom: rem(71px);
  }

  &__card {
    position: relative;
    max-width: rem(1369px);
    margin: 0 auto;
    padding: rem(40px 48px);
    border-radius: rem(17px);
    background-color: white;
    box-shadow: rem(0 4px 58px 11px) rgba(23, 53, 87, 0.17);
    display: grid;
    grid-template-columns: rem(524px) auto;
    grid-column-gap: rem(20px);
    @include max-screen(1130px) {
      width: rem(469px);
      height: rem(699px);
      padding: rem(22px 0 28px);
      grid-template-columns: 100%;
      grid-template-rows: auto rem(393px);
      align-items: center;
      justify-items: center;
    }
    &-image {
      width: rem(524px);
      height: rem(458px);
      border-radius: rem(17px);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      @include max-screen(1130px) {
        order: 2;
        width: rem(416px);
        height: rem(393px);
      }
      img {
        max-width: none;
        width: 100%;
        min-height: 100%;
        aspect-ratio: 525 / 458;
      }
    }
    &-content {
      @include max-screen(1130px) {
        order: 1;
      }
    }
    &-title {
      @include h2;
      text-transform: none;
      margin-top: rem(26px);
      margin-bottom: rem(14px);
      @include max-screen(1130px) {
        @include font('light', 37px, 44px);
        letter-spacing: 0.075em;
        margin: 0;
        text-align: center;
      }
      strong {
        font-weight: 600;
        @include style-7;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include max-screen(1130px) {
          letter-spacing: 0.095em;
        }
      }
    }
    &-data {
      padding: rem(37px);
      &__title {
        @include h2;
        text-transform: none;
        @include style-7;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: rem(26px);
        @include max-screen(1130px) {
          display: none;
        }
      }
      &__phone {
        margin-bottom: rem(38px);
        @include max-screen(1130px) {
          margin-bottom: rem(26px);
        }
      }
      &__phone,
      &__email {
        display: flex;
        align-items: center;
        @include max-screen(1130px) {
          text-align: center;
          justify-content: center;
        }
      }
      &__icon {
        width: rem(33px);
        height: rem(30px);
        margin-right: rem(27px);
      }
      &__link {
        color: $text;
        font-family: $font-family-base;
        @include font('light', 25px, 26px);
        letter-spacing: 0;
      }
    }
  }
}
