.main {
  position: relative;
  height: rem(1000px);
  color: $text-inverse;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  @include max-screen(1130px) {
    height: auto;
  }

  &__container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 53% 47%;
    background: linear-gradient(180deg, #2c5e5b 0%, #415c7a 100%);
    @include max-screen(1280px) {
      grid-template-columns: 47% 53%;
    }
    @include max-screen(1130px) {
      display: block;
      padding-top: rem(160px);
      position: relative;
    }

    &-pic {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: hidden;
      width: 100%;
      position: relative;
      z-index: 2;
      @include max-screen(1130px) {
        height: rem(411px);
        justify-content: center;
      }
      img,
      picture {
        max-width: none;
        height: 100%;
        @include max-screen(727px) {
          width: 100%;
          height: auto;
        }
        @include max-screen(511px) {
          width: auto;
          height: 100%;
        }
      }
    }

    &-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include max-screen(1130px) {
        display: grid;
        grid-template-columns: 40% 50%;
        grid-column-gap: rem(97px);
      }
      @include max-screen(767px) {
        grid-column-gap: rem(47px);
      }
      @include max-screen(550px) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: rem(20px);
      }
    }

    &-content {
      padding: rem(160px 124px 190px 110px);
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-between;
      @include max-screen(1130px) {
        padding: rem(60px 60px 93px);
        max-width: rem(957px);
        margin: 0 auto;
        box-sizing: content-box;
        height: rem(265px);
      }
      @include max-screen(550px) {
        padding: rem(60px);
        height: auto;
      }
      &__title {
        margin-bottom: rem(65px);
        @include max-screen(1130px) {
          position: absolute;
          left: 0;
          right: 0;
          top: rem(126px);
          text-align: center;
          z-index: 10;
        }
      }
      &__text {
        margin-bottom: rem(26px);
        @include body;
        @include max-screen(1130px) {
          margin-bottom: rem(20px);
        }
      }
    }
  }

  &__button {
    display: block;
    text-align: center;
    color: $text;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-family-base;
    @include font('light', 24px, 68px);
    font-weight: 300;
    letter-spacing: 0.11em;
    height: rem(65px);
    border-radius: rem(69px);
    min-width: rem(258px);
    padding: rem(0 20px);
    white-space: nowrap;
    cursor: pointer;
    transition: 300ms ease-out;

    @include max-screen(1130px) {
      height: rem(55px);
      width: 100%;
      @include font('light', 18px, 58px);
      min-width: rem(173px);
      padding: rem(0 10px);
    }

    &:hover {
      text-decoration: none;
    }

    &--light {
      background: linear-gradient(90deg, #fec28d 0%, #fff9b9 130.79%);
      &:hover,
      &:active {
        @include effect-orange;
      }
    }
    &--dark {
      background: linear-gradient(90deg, #9fcbff 0%, #fff7a5 130.79%);
      box-shadow: -1px 1px 29px rgba(0, 0, 0, 0.25),
        1px -1px 31px rgba(255, 255, 255, 0.3);
      &:hover,
      &:active {
        @include effect-blue;
      }
    }
  }

  .scroll-arrow {
    width: rem(48px);
    height: rem(47px);
    position: absolute;
    display: inline-block;
    bottom: rem(75px);
    left: 50%;
    transform: translateX(-50%);
    background: url('/src/images/header-main/arrow.svg') no-repeat
      center/contain;
    z-index: 10;
  }
}
