.about {
    display: flex;
    flex-wrap: wrap;
    color: $text;
    padding: 50px 0 0 0;
    background-image: url(/src/images/about/spot1.png);
    background-repeat:no-repeat;
    background-size: 450px;
    overflow: hidden;
    }
    
    .about__title,
    .about__text {
    font-family: $font-family-base;
    margin: 20px 400px 10px 300px;
    }
    
    .about__text--border {
    border: 1px solid $text;
    border-radius: 17px;
    height: 159px;
    padding: 20px 0 0 20px;
    }