.reports {
  background-color: white;
  padding-top: rem(100px);

  &__title {
    text-align: center;
    margin-bottom: rem(50px);
  }
  &__slider {
    position: relative;
    width: 100%;
    height: rem(611px);
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 17%;
      overflow: hidden;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0) 50%);
      z-index: 2;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      transform-origin: 50% 50%;
      transform: rotate(180deg);
    }
    &-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slider-button {
      position: absolute;
      width: rem(48px);
      height: rem(120px);
      top: 50%;
      transform-origin: 50% 50%;
      transform: translateY(-50%);
      background: url("/src/images/donation-cards/Vector7.svg") no-repeat center/cover;
      border: 0;
      box-shadow: none;
      outline: 0 none;
      z-index: 10;
      cursor: pointer;
      &--prev {
        left: rem(35px);
        transform: translateY(-50%) rotate(180deg);
      }
      &--next {
        right: rem(35px);
      }
    }
  }
  .report {
    position: relative;
    border-radius: rem(17px);
    width: rem(471px);
    height: rem(611px);
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: linear-gradient(358.52deg, #0B0B0B -1.91%, rgba(0, 0, 0, 0) 50.31%);
    }
    &__text {
      color: $text-inverse;
      font-family: $font-family-base;
      position: absolute;
      z-index: 4;
      bottom: 0;
      left: 0;
      right: 0;
      padding: rem(24px);
      height: rem(150px);
      h3 {
        @include font('light', 36px, 43px);
        letter-spacing: 0.11em;
      }
      p {
        @include body;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: rem(54px);
        margin: rem(10px 0);
      }
    }
  }


}
