.partners {
  position: relative;
  background-color: white;
  padding: rem(0 30px 100px);

  &__title {
    text-align: center;
    margin-bottom: rem(71px);
  }
  &__slider {
    max-width: rem(1400px);
    margin: 0 auto;
    padding: rem(0 78px);
    position: relative;
    @include max-screen(1130px) {
      padding: rem(0 20px);
    }
    &-slide {
      display: inline-flex !important;
      padding: rem(0 25px);
      @include max-screen(1130px) {
        padding: rem(0 20px);
      }
    }
  }
  .partner {
    width: rem(248px);
    height: rem(82px);
    border-radius: rem(16px);
    background-color: #d9d9d9;
    margin: 0 auto;
  }
  .slider-button {
    position: absolute;
    width: rem(38px);
    height: rem(92px);
    top: 50%;
    transform-origin: 50% 50%;
    transform: translateY(-50%);
    background: url('/src/images/section-partners/Vector8.svg') no-repeat
      center/contain;
    border: 0;
    box-shadow: none;
    outline: 0 none;
    z-index: 10;
    cursor: pointer;
    padding: 0;
    @include max-screen(1130px) {
      width: rem(19px);
      height: rem(52px);
    }
    &--prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }
    &--next {
      right: 0;
    }
  }
}
