.application {
  background-color: white;
  padding: rem(100px 60px 0);
  @include max-screen(1130px) {
    padding: rem(60px 60px 0);
  }
  &__title {
    margin-bottom: rem(43px);
    text-align: center;
  }
  &__form {
    display: block;
    position: relative;
    max-width: rem(1055px);
    margin: 0 auto;

    @include max-screen(767px) {
      max-width: rem(470px);
    }

    &-group {
      margin-bottom: rem(28px);
      @include max-screen(1130px) {
        margin-bottom: rem(12px);
      }
    }

    &-label {
      font-family: $font-family-base;
      @include font('light', 24px, 65px);
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.11em;
      @include max-screen(1130px) {
        @include font('light', 18px, 50px);
      }
    }

    &-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: rem(97px);
      @include max-screen(1130px) {
        grid-column-gap: rem(44px);
      }
    }

    &-submit {
      margin-top: rem(37px);
    }
  }

  &__checkbox {
    display: block;
    padding: rem(8.5px 0 8px 50px);
    margin-left: rem(16px);
    margin-top: rem(33px);
    margin-bottom: rem(46px);
    font-family: $font-family-base;
    @include font('light', 14px, 16px);
    letter-spacing: 0.015em;
    position: relative;
    min-height: rem(33px);
    @include max-screen(1130px) {
      min-height: rem(17px);
      padding: rem(0 0 0 30px);
    }
    &-fake,
    input[type='checkbox'] {
      position: absolute;
      top: 0;
      left: 0;
      width: rem(33px);
      height: rem(33px);
      z-index: 10;
      box-sizing: border-box;
      @include max-screen(1130px) {
        width: rem(17px);
        height: rem(17px);
      }
    }
    input[type='checkbox'] {
      opacity: 0;
      &:checked + .application__checkbox-fake:before {
        content: '';
        display: block;
        width: rem(10px);
        height: rem(10px);
        background-color: black;
      }
    }
    &-fake {
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__button {
    appearance: none;
    border: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(77px);
    width: 100%;
    border-radius: rem(13px);
    color: transparentize(black, 0.13);
    font-family: $font-family-base;
    @include font('light', 25px, 26px);
    letter-spacing: 0;
    text-align: center;
    padding: rem(10px);
    text-transform: uppercase;
    cursor: pointer;
    transition: 120ms;
    &:hover,
    &:active {
      filter: brightness(95%);
      text-decoration: none;
      @include effect-biruza;
    }

    &--about {
      background: linear-gradient(243.74deg, #fffae1 3.43%, #87c1b7 96.99%);
      @include max-screen(1130px) {
        @include font('light', 20px, 23px);
      }
    }

    &--loading {
      background: linear-gradient(
        331.15deg,
        transparentize(#b5dcda, 0.45) -10.25%,
        rgba(255, 249, 185, 0.55) 385.42%
      );
      text-transform: none;
      input {
        opacity: 0;
        position: absolute;
      }
      @include max-screen(1130px) {
        @include font('light', 18px, 19px);
      }
    }

    &--submit {
      background: linear-gradient(111.56deg, #2c5e5b 18.82%, #415c7a 64.16%);
      color: transparentize(white, 0.13);
      padding-top: rem(12px);
      margin-bottom: rem(20px);
      &:hover,
      &:active {
        box-shadow: rem(0 0 20px) transparentize(#2c5e5b, 0.5);
      }
    }
  }
}
