.image-div {
    width: 458px;
    height: 458px;
    margin-right: 42px;
  }
  .contacts__card-image {
    border-radius: 17px;
  }
  .contacts-header {
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 57px;
    line-height: 117.5%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000000;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .contacts-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 58px 11px rgba(23, 53, 87, 0.17);
    border-radius: 17px;
    padding: 42px;
    width: 1291px;
    height: 541px;
    position: relative;
  }
  .contacts-card-text {
    width: 100%;
  }
  .coordinator {
    font-weight: 300;
    font-size: 57px;
    line-height: 68px;
    letter-spacing: 0.095em;
    margin-top: 20px;
    color: #000000;
  }
  .bf {
    font-weight: 600;
    font-size: 57px;
    line-height: 68px;
    letter-spacing: 0.095em;
    margin: 0;
    background: linear-gradient(111.56deg, #2c5e5b 18.82%, #415c7a 64.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: -50px;
  }
  .danila {
    font-weight: 300;
    font-size: 57px;
    line-height: 68px;
    letter-spacing: 0.11em;
    background: linear-gradient(111.56deg, #2c5e5b 18.82%, #415c7a 64.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 60px;
  }
  a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-left: 20px;
  }
  .contacts_searchs {
    margin-left: -10px;
  }
  .contscts_search {
    margin-top: -70px;
    margin-bottom: 20px;
  }  