<div class="donation-cards">
  <div class="donation-cards_slider">
    <button class="slider-button slider-button--prev" id="donation-slider-prev"></button>
    <div id="donation-slider">
      <div class="donation-cards_slider__item">
        <div class="donation__card">
          <div class="donation__card-image">
            <img
              class="donation__card-image-image"
              src="/src/images/donation-cards/woman-with-gauze-bandage-wrapped-around-her-hand.png"
              alt="бандаж на руке"
            />
          </div>
          <div class="donation__card-text">
            <h3>
              100 р/мес.=
              <br />
              1200р/год=
            </h3>
            <p class="donation__card-text_parag">
              1 комплект <br />
              перевязочного <br />
              материала или 1 <br />
              аптечка скорой помощи
            </p>
          </div>
        </div>
      </div>
      <div class="donation-cards_slider__item">
        <div class="donation__card">
          <div class="donation__card-image">
            <img
              src="/src/images/donation-cards/strong-cute-little-girl-start-crawling.png"
              alt="маленькая девочка учится ползать"
            />
          </div>
          <div class="donation__card-text">
            <h3>
              300р/мес.=
              <br />
              3600р/год=
            </h3>
            <p class="donation__card-text_parag">1 упаковка подгузников</p>
          </div>
        </div>
      </div>
      <div class="donation-cards_slider__item">
        <div class="donation__card">
          <div class="donation__card-image">
            <img
              src="/src/images/donation-cards/pexels-photo.png"
              alt="медицинский увлажнитель кислорода"
            />
          </div>
          <div class="donation__card-text">
            <h3>
              500р/мес.=
              <br />
              6000р/год=
            </h3>
            <p class="donation__card-text_parag">
              1 медицинский увлажнитель кислорода
            </p>
          </div>
        </div>
      </div>
      <div class="donation-cards_slider__item">
        <div class="donation__card">
          <div class="donation__card-image">
            <img src="/src/images/donation-cards/2AdobeStock.png" alt="процедура" />
          </div>
          <div class="donation__card-text">
            <h3>
              1000р/мес.=
              <br />
              12000р/год=
            </h3>
            <p class="donation__card-text_parag">
              1 аппарат магнитотерапии или 1 облучатель рециркулятор
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="slider-button slider-button--next" id="donation-slider-next"></button>
  </div>
</div>
