<div class="donation-cards">
    <picture>
        <source class="donation-cards_button" media="(max-width: 767px)" srcset="/src/images/donation-cards/Vector-8.png">
        <img class="donation-cards_button" src="/src/images/donation-cards/Vector8.svg" alt="стрелка влево">
    </picture>
    <div class="donation-cards_slider">
        <div class="donation__card">
            <div class="donation__card-image">
                <img class="donation__card-image-image" src="/src/images/donation-cards/woman-with-gauze-bandage-wrapped-around-her-hand.png" alt="бандаж на руке">
            </div>
            <div class="donation__card-text">
                <h3>100 р/мес.= <br/> 1200р/год= </h3>
                <p class="donation__card-text_parag">1 комплект <br> перевязочного <br> материала или 1 <br> аптечка скорой помощи</p>
            </div>
        </div>
        <div class="donation__card" id="card-none">
            <div class="donation__card-image">
                <img  src="/src/images/donation-cards/strong-cute-little-girl-start-crawling.png" alt="маленькая девочка учится ползать">
            </div>
            <div class="donation__card-text">
                <h3>300р/мес.= <br> 3600р/год= </h3>
                <p class="donation__card-text_parag">1 упаковка подгузников</p>
            </div>
        </div>
        <div class="donation__card" id="card-none">
            <div class="donation__card-image">
                <img  src="/src/images/donation-cards/pexels-photo.png" alt="медицинский увлажнитель кислорода">
            </div>
            <div class="donation__card-text">
                <h3>500р/мес.= <br> 6000р/год=</h3>
                <p class="donation__card-text_parag">1 медицинский увлажнитель кислорода</p>
            </div>
        </div>
        <div class="donation__card" id="card-none">
            <div class="donation__card-image">
                <img src="/src/images/donation-cards/2AdobeStock.png" alt="процедура">
            </div>
            <div class="donation__card-text">
                <h3>1000р/мес.= <br> 12000р/год=</h3>
                <p class="donation__card-text_parag">1 аппарат магнитотерапии или 1 облучатель рециркулятор</p>
            </div>
        </div>
    </div>  
    <picture>
        <source class="donation-cards_button" media="(max-width: 767px)" srcset="/src/images/donation-cards/Vector-7.png">
        <img class="donation-cards_button" src="/src/images/donation-cards/Vector7.svg" alt="стрелка влево">
    </picture>
    
</div>
