<div class="donation-cards">
    <svg width="41" height="94" viewBox="0 0 41 94" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40 93L2 47L40 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>   
    <div class="donation__card">
        <img class="donation__card-image " src="/src/images/donation-cards/woman-with-gauze-bandage-wrapped-around-her-hand.png" alt="бандаж на руке">
        <div class="donation__card-text">
            <h3>100 р/мес.= <br/> 1200р/год= </h3>
            <p class="donation__card-text_parag">1 комплект перевязочного материала или 1 <br> аптечка скорой помощи</p>
        </div>
    </div>
    <div class="donation__card" id="card-none">
        <img class="donation__card-image " src="/src/images/donation-cards/strong-cute-little-girl-start-crawling.png" alt="младенец">
        <div class="donation__card-text">
            <h3>300р/мес.= <br> 3600р/год= </h3>
            <p class="donation__card-text_parag">1 упаковка подгузников</p>
        </div>
    </div>
    <div class="donation__card" id="card-none">
        <img class="donation__card-image " src="/src/images/donation-cards/pexels-photo.png" alt="медицинский увлажнитель кислорода">
        <div class="donation__card-text">
            <h3>500р/мес.= <br> 6000р/год=</h3>
            <p class="donation__card-text_parag">1 медицинский увлажнитель кислорода</p>
        </div>
    </div>
    <div class="donation__card" id="card-none">
        <img class="donation__card-image " src="/src/images/donation-cards/2AdobeStock.png" alt="процедура">
        <div class="donation__card-text">
            <h3>1000р/мес.= <br> 12000р/год=</h3>
            <p class="donation__card-text_parag">1 аппарат магнитотерапии или 1 облучатель рециркулятор</p>
        </div>
    </div>
    <svg width="41" height="94" viewBox="0 0 41 94" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 93L39 47L0.999994 0.999999" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
</div>
