<footer class="footer">
  <div class="wrapper">
    <div class="grid">
      <div class="logo-footer">
        <p class="logo__bf">БФ "ПОМОЩЬ"</p>
<!--        <img src="/image 15.svg" alt="logo" />-->
      </div>
      <div class="contact__adress">
        Г. САНКТ-ПЕТЕРБУРГ ТОРФЯНАЯ ДОРОГА, Д. 7, ЛИТ. Ф, ЧАСТЬ ПОМЕЩЕНИЯ №
        13-Н, ЧАСТЬ КАБИНЕТА № 21, ОФИС 721
        <br />
        <br />

        ИНН: 7810718515
        <br />
        ОГРН: 1177800006119
      </div>
      <div class="footer-contacts">
        <ul>
          <li class="footer-contacts__item">
            <a class="telefon__one" href="tel:8 (812) 455-99-24"
              >8 (812) 455-99-24
            </a>
          </li>
          <li class="footer-contacts__item">
            <a href="help@bf-pomosch.ru">help@bf-pomosch.ru</a>
          </li>
        </ul>
      </div>
      <div class="footer__help">
        <ul class="footer-help__list">
          <li class="footer-help__item">
            <a href="#" class="footer-help__link">Кому помочь</a>
          </li>
          <li class="footer-help__item">
            <a href="" class="footer-help__link">Заявка на помощь</a>
          </li>
          <li class="footer-help__item">
            <a href="" class="footer-help__link">Кому помогли</a>
          </li>
          <li class="footer-help__item">
            <a href="" class="footer-help__link">Вопрос – Ответ</a>
          </li>
        </ul>
      </div>
      <div class="footer__foud">
        <ul class="footer-foud__list">
          <li class="footer-foud__item">
            <a href="" class="footer-foud__link"> О фонде</a>
          </li>
          <li class="footer-foud__item">
            <a href="" class="footer-foud__link">Отчёты</a>
          </li>
          <li class="footer-foud__item">
            <a href="" class="footer-foud__link">Волонтёрство</a>
          </li>
          <li class="footer-foud__item">
            <a href="" class="footer-foud__link">Партнёрство</a>
          </li>
        </ul>
      </div>
      <div class="button__help__green">
        <a href="#" class="help button"> нужна помощь </a>
      </div>
      <div class="button__help__red">
        <a href="#" class="now button"> помочь сейчас </a>
      </div>
      <div class="write__mail">
        <div class="write__mail__text">Напишите нам</div>
<!--        <a href="support@test.kz"><img src="/letter 1.svg" alt="" /></a>-->
      </div>
      <div class="personal__ data">vvvvvvvvvvv</div>
      <div class="contact__adressadaptiv">
        Г. САНКТ-ПЕТЕРБУРГ ТОРФЯНАЯ ДОРОГА, Д. 7, ЛИТ. Ф, ЧАСТЬ ПОМЕЩЕНИЯ №
        13-Н, ЧАСТЬ КАБИНЕТА № 21, ОФИС 721
      </div>
      <div class="footer__contactsadaptiv__tel">
<!--        <img src="/call3 2.svg" alt="tel" />-->
        <a class="telefon__one" href="tel:8 (812) 455-99-24"
          >8 (812) 455-99-24
        </a>
      </div>

      <div class="footer__contactsadaptiv__mail">
<!--        <img src="/letter 2.svg" alt="mail" />-->
        <a href="help@bf-pomosch.ru">help@bf-pomosch.ru</a>
      </div>
      <div class="line__adaptiv">
        <hr />
      </div>
    </div>
  </div>
</footer>
<section class="soсial">
  <div class="wrapper">
    <div class="panel-social">
      <ul class="panel-social__list">
        <li class="panel-social__text">
          БЛАГОТВОРИТЕЛЬНЫЙ ФОНД «ПОМОЩЬ» ИСПОЛЬЗУЕТ САЙТ BF-POMOSCH.RU ДЛЯ
          СБОРА НЕ ОБЛАГАЕМЫХ НАЛОГОМ ПОЖЕРТВОВАНИЙ. ВОЗРАСТНОЕ ОГРАНИЧЕНИЕ 0+.
        </li>
        <li class="panel-social__item">
          <a href="#" class="panel-social__link"
            ><img src="/src/images/footer/telegr.svg" alt="telegramm" />
          </a>
        </li>
        <li class="panel-social__item">
          <a href="#" class="panel-social__link"
            ><img src="/src/images/footer/mus.svg" alt="mus"
          /></a>
        </li>
        <li class="panel-social__item">
          <a href="#" class="panel-social__link"
            ><img src="/src/images/footer/uyot.svg" alt="yuotyb"
          /></a>
        </li>
        <li class="panel-social__item">
          <a href="#" class="panel-social__link"
            ><img src="/src/images/footer/ok.svg" alt="ok"
          /></a>
        </li>
        <li class="panel-social__item">
          <a href="#" class="panel-social__link"
            ><img src="/src/images/footer/vk.svg" alt="vk"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
