<footer>
    <div class="wrapper">
      <hr/>
      <div class="footer_block-text">
        Г. САНКТ-ПЕТЕРБУРГ <br />ТОРФЯНАЯ ДОРОГА, Д. 7, <br />ЛИТ. Ф, ЧАСТЬ
        ПОМЕЩЕНИЯ №<br />
        13-Н, ЧАСТЬ КАБИНЕТА №<br />
        21, ОФИС 721
      </div>
      <div class="footer_search">
        <img
          class="footer_search-image"
          src="/src/images/footer/call3 2.svg"
          alt="phone"
        /></div>
        <div class="footer_search-text">
          <h3>8 (812) 455-99-24</h3>
        </div>
      
        <div class="footer_searchs">
          <img
            class="footer_searchs-image"
            src="/src/images/footer/letter 2.svg"
            alt="letter"
          /></div>
          <div class="footer_searchs-text">
            <h3>help@bf-pomosch.ru</h3>
          </div>
        <div class="footer_link">
          <h3 class="footer_link-text">НУЖНА ПОМОЩЬ</h3>
        </div>
        <div class="footer_links">
          <h3 class="footer_links-text">ПОМОЧЬ СЕЙЧАС</h3>
</div>
  </footer>
