<header class="header">
  <img class="header-logo" src="#" alt="" />
  <div class="header-option">
    <img src="/src/images/header-main/logo_header.svg" alt="logo" />
  </div>
  <div class="header-option__number">
    <a href="tel:+7812455-99-24" style="color: #ffff; text-decoration: none"
      >8 (812) 455-99-24</a
    >
  </div>
  <div style="border-left: 1.5px solid #ffffff; height: 35px"></div>
  <div class="header-option__mail">
    <a
      href="mailto:help@bf-pomosch.ru"
      style="color: #ffff; text-decoration: none"
      >help@bf-pomosch.ru</a
    >
  </div>
  <a href="#"
    ><img
      class="header-option__pic1"
      src="/src/images/header-main/search.svg"
      alt="search form"
  /></a>
  <a href="#"
    ><img
      class="header-option__pic2"
      src="/src/images/header-main/profile.svg"
      alt="my profile"
  /></a>
  <span class="header-option__button1">
    <button class="header-option__button1-0">НУЖНА ПОМОЩЬ</button>
  </span>
  <span class="header-option__button2">
    <button class="header-option__button2-0">ПОМОЧЬ СЕЙЧАС</button>
  </span>
</header>
