<header class="header">
    <img class="header-logo" src="#" alt="">
    <div class="header-option">
        <p>Благотворительный фонд «Помощь»</p>
        <hr color="#FFFFFF">
        <p>Социальная поддержка и охрана здоровья граждан</p>
    </div>
    <div class="header-option">8 (812) 455-99-24</div>
    <div style="border-left:1.5px solid #FFFFFF; padding: 10px; height: 15px;"></div>
    <div>help@bf-pomosch.ru</div>
    <img class="header-option__pic1" src="#" alt="">
    <img class="header-option__pic2" src="#" alt="">
    <span class="header-option__button1">
    <button class="header-option__button1-0">Нужна помощь</button>
</span>
<span class="header-option__button2">
    <button class="header-option__button2-0">Помочь сейчас</button>
</span>
</header>
