<header class="header">
  <div class="header__inner">
    <div class="header-option header-option--logo">
      <img src="/src/images/header-main/logo_header.svg" alt="logo" />
    </div>
    <div class="header-option header-option--contacts">
      <div class="header-option__phone">
        <a href="tel:88124559924">8 (812) 455-99-24</a>
      </div>
      <div class="header-divider"></div>
      <div class="header-option__mail">
        <a href="mailto:help@bf-pomosch.ru">help@bf-pomosch.ru</a>
      </div>
    </div>
    <div class="header-option">
      <div class="header-option__search">
        <a href="#"
          ><img src="/src/images/header-main/search.svg" alt="search form"
        /></a>
      </div>
      <div class="header-option__profile">
        <a href="#"
          ><img src="/src/images/header-main/profile.svg" alt="my profile"
        /></a>
      </div>
      <div class="header-option__buttons">
        <button class="button button--green">НУЖНА ПОМОЩЬ</button>
        <button class="button button--red">ПОМОЧЬ СЕЙЧАС</button>
      </div>
    </div>
    <div class="header-mobile header-mobile--logo">
      <img src="/src/images/header-main/logo_header.png" alt="logo" />
    </div>
    <div class="header-mobile">
      <div class="header-mobile__phone">
        <a href="tel:88124559924">
          <img src="/src/images/header-main/call3.png" alt="phone" />
        </a>
      </div>
      <div class="header-mobile__mail">
        <a href="mailto:help@bf-pomosch.ru">
          <img src="/src/images/header-main/letter1.png" alt="mail" />
        </a>
      </div>
      <div class="header-mobile__profile">
        <a href="#">
          <img src="/src/images/header-main/profile1.png" alt="profile" />
        </a>
      </div>
      <div id="open-nav" class="header-mobile__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
