<nav class="nav">
  <ul class="nav__menu">
    <li class="nav__menu__option">
      <a href="#">О фонде</a>
    </li>
    <li class="nav__menu__option">
      <a href="#">Кому помочь</a>
    </li>
    <li class="nav__menu__option">
      <a href="#">Кому помогли</a>
    </li>
    <li class="nav__menu__option">
      <a href="#">Заявка на помощь</a>
    </li>
    <li class="nav__menu__option">
      <a href="#">Отчёты</a>
    </li>
    <li class="nav__menu__option">
      <a href="#">Сотрудничество</a>
    </li>
    <li class="nav__menu__option">
      <a href="#">Новости</a>
    </li>
    <li class="nav__menu__option">
      <a href="#">Контакты</a>
    </li>
  </ul>
</nav>
