<nav class="nav">
    <ul class="nav-menu">
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">О фонде</a></il>
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">Кому помочь</a></il>
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">Кому помогли</a></il>
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">Заявка на помощь</a></il>
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">Отчёты</a></il>
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">Сотрудничество</a></il>
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">Новости</a></il>
        <il class="nav-menu__option"><a href="#" style="color:#FFFF; text-decoration: none;">Контакты</a></il>
    </ul>
</nav>
