<nav class="nav">
  <ul class="nav-menu">
    <li class="nav-menu__option option-a">
      <a href="#" style="color: #ffff; text-decoration: none">О фонде</a>
    </li>
    <li class="nav-menu__option option-b">
      <a href="#" style="color: #ffff; text-decoration: none">Кому помочь</a>
    </li>
    <li class="nav-menu__option option-c">
      <a href="#" style="color: #ffff; text-decoration: none">Кому помогли</a>
    </li>
    <li class="nav-menu__option">
      <a href="#" style="color: #ffff; text-decoration: none"
        >Заявка на помощь</a
      >
    </li>
    <li class="nav-menu__option">
      <a href="#" style="color: #ffff; text-decoration: none">Отчёты</a>
    </li>
    <li class="nav-menu__option">
      <a href="#" style="color: #ffff; text-decoration: none">Сотрудничество</a>
    </li>
    <li class="nav-menu__option">
      <a href="#" style="color: #ffff; text-decoration: none">Новости</a>
    </li>
    <li class="nav-menu__option">
      <a href="#" style="color: #ffff; text-decoration: none">Контакты</a>
    </li>
  </ul>
</nav>
