<div class="members">
    <div class="wrapper">
        <h2 class="members__title">Участники проекта</h2>
        <div class="members__one">
            <p class="members__one__text"><a
                    href="https://www.gov.spb.ru/gov/terr/krasnogvard/podvedomstvennye-uchrezhdeniya/sankt-peterburgskoe-gosudarstvennoe-kazennoe-uchrezhdenie-zdravoohrane/"
                    target="_blank">Санкт-Петербургское государственное казенное <br />учреждение здравоохранения
                    «Психоневрологический <br /> дом ребенка № 8 Красногвардейского района»</a></p>
            <img class="members__one__icon" src="/src/images/icons/icon-1.svg" alt="member 1" />
        </div>
        <div class="members__two">
            <img class="members__two__icon" src="/src/images/icons/icon-2.svg" alt="member 2" />
            <p class="members__two__text"><a href="https://zhiznplus31.ru/" target="_blank">Автономная некоммерческая
                    организация Центр <br /> паллиативной медицинской
                    помощи «Изумрудный город»</a></p>
        </div>
        <div class="members__three">
            <p class="members__three__text"><a href="http://gerdoctor.ru" target="_blank">Санкт-Петербургское
                    государственное бюджетное <br /> учреждение
                    здравоохранения «Городской гериатрический
                    <br />медико-социальный центр»</a></p>
            <img class="members__three__icon" src="/src/images/icons/icon-3.svg" alt="member 3" />
        </div>
    </div>
</div>