<div class="members">
  <h2 class="members__title">Участники проекта</h2>
  <div class="members__list">
    <div class="member member--one">
      <div class="member__text">
        <a
          target="_blank"
          href="https://www.gov.spb.ru/gov/terr/krasnogvard/podvedomstvennye-uchrezhdeniya/sankt-peterburgskoe-gosudarstvennoe-kazennoe-uchrezhdenie-zdravoohrane/"
        >
          Санкт-Петербургское государственное казенное
          учреждение здравоохранения «Психоневрологический
          дом ребенка № 8 Красногвардейского района»
        </a>
      </div>
      <img
        class="member__icon"
        src="/src/images/icons/icon-1.svg"
        alt="Партнер 1"
      />
    </div>
    <div class="member member--two">
      <img
        class="member__icon"
        src="/src/images/icons/icon-2.svg"
        alt="Партнер 2"
      />
      <div class="member__text">
        <a href="https://zhiznplus31.ru/" target="_blank">
          Автономная некоммерческая организация Центр
          паллиативной медицинской помощи «Изумрудный город»
        </a>
      </div>
    </div>
    <div class="member member--three">
      <div class="member__text">
        <a href="http://gerdoctor.ru" target="_blank">
          Санкт-Петербургское государственное бюджетное
          учреждение здравоохранения «Городской гериатрический
          медико-социальный центр»
        </a>
      </div>
      <img
        class="member__icon"
        src="/src/images/icons/icon-3.svg"
        alt="Партнер 3"
      />
    </div>
  </div>
</div>
