<div class="members">
    <h2 class="members__title">Участники проекта</h2>
    <div class="members__one">
        <p class="members__one__text">Санкт-Петербургское государственное казенное <br />учреждение здравоохранения
            «Психоневрологический <br /> дом ребенка № 8 Красногвардейского района»</p>
        <img class="members__one__icon" src="/src/images/icons/icon-1.svg" alt="member 1" />
    </div>
    <div class="members__two">
        <img class="members__two__icon" src="/src/images/icons/icon-2.svg" alt="member 2" />
        <p class="members__two__text">Автономная некоммерческая организация Центр <br /> паллиативной медицинской
            помощи «Изумрудный город»</p>
    </div>
    <div class="members__three">
        <p class="members__three__text">Санкт-Петербургское государственное бюджетное <br /> учреждение
            здравоохранения «Городской гериатрический
            <br />медико-социальный центр»</p>
        <img class="members__three__icon" src="/src/images/icons/icon-3.svg" alt="member 3" />
    </div>
</div>