<section class="contacts">
  <h2 class="contacts__title">Остались вопросы — обращайтесь</h2>

  <div class="contacts__card">
    <div class="contacts__card-image">
      <img src="/src/images/section-contacts/photo.jpg" alt="Данила" />
    </div>
    <div class="contacts__card-content">
      <h3 class="contacts__card-title">
        Координатор проекта
        <strong>«Большая помощь»</strong>
      </h3>
      <div class="contacts__card-data">
        <h4 class="contacts__card-data__title">Данила Ткачёв</h4>
        <div class="contacts__card-data__phone">
          <img
            class="contacts__card-data__icon"
            src="/src/images/section-contacts/phone.svg"
            alt="phone"
          />
          <a href="tel:+79319585023" class="contacts__card-data__link"
            >+7 931 958 50 23</a
          >
        </div>
        <div class="contacts__card-data__email">
          <img
            class="contacts__card-data__icon"
            src="/src/images/section-contacts/email.svg"
            alt="letter"
          />
          <a
            class="contacts__card-data__link"
            href="mailto:tkachev@bf-pomosch.ru"
            >tkachev@bf-pomosch.ru</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
