<section class="application">
    <h2 class="application_text">СТАТЬ УЧАСТНИКОМ ПРОЕКТА</h2>
    <form class="application__form">
        <p class="application__form_text">Название организации</p>
        <input class="application_input-box" type="text" />
        <p class="application__form_text">Адрес</p>
        <input class="application_input-box" type="text" />
        <p class="application__form_text">ФИО Главного врача</p>
        <input class="application_input-box" type="text" />
        <p class="application__form_text">ФИО Представителя</p>
        <input class="application_input-box" type="text" />
        <p class="application__form_text">Почта</p>
        <input class="application_input-box__post" type="text" />
        <p class="application__form_text">Телефон</p>
        <input class="application_input-box__telefon" type="text" />
        <p class="application__form_text">Формат поддержки: Разово / регулярно</p>
        <input class="application_input-box" type="text" />
    </form>
    <div class="application_button">
        <form action="#">
            <button class="application_button__about_project">
                ПОЛОЖЕНИЕ ПРОЕКТА
            </button>
        </form>
        <form action="#">
            <button class="application_button__loading">
                Перетащите сюда файлы или
                нажмите, чтобы загрузить лицензию
            </button>
        </form>
        <form action="#">
            <button class="application_button__aplication">
                ОТПРАВИТЬ ЗАЯВКУ
            </button>
        </form>
    </div>
</section>
