<section class="application">
    <h2 class="application_text">СТАТЬ УЧАСТНИКОМ ПРОЕКТА</h2>
    <form class="application__form">
        <label class="application__form_text" for="input_1">Название организации</label>
        <input id="input_1" class="application_input-box" type="text" />
        <label for="input_2" class="application__form_text">Адрес</label>
        <input id="input_2" class="application_input-box" type="text" />
        <label for="input_3" class="application__form_text">ФИО Главного врача</label>
        <input id="input_3" class="application_input-box" type="text" />
        <label for="input_4" class="application__form_text">ФИО Представителя</label>
        <input id="input_4" class="application_input-box" type="text" />
        <div class="application__form_conteiner">
            <div class="form__post">
                <label for="input_5" class="application__form_text">Почта</label>
                <input id="input_5" class="application_input-box__post" type="text" />
            </div>
            <div class="form__telefon">
                <label for="input_6" class="application__form_text">Телефон</label>
                <input id="input_6" class="application_input-box__telefon" type="text" />
            </div>
        </div>
        <label for="input_7" class="application__form_text">Формат поддержки: Разово / регулярно</label>
        <input id="input_7" class="application_input-box" type="text" />
        <div class="application__form_conteiner2">
            <input id="input_8" class="application_input-checkbox" type="checkbox" />
            <label class="application__form_text1" for="input_8">даю согласие на обработку моих персональных данных и
                согласен(а) с политикой об обработке персональных данных</label></div>
        <div class="application_button">
            <button class="application_button__about_project" onclick="" type="button">
                ПОЛОЖЕНИЕ ПРОЕКТА
            </button>
            <div class="application_button__loading">
                Перетащите сюда файлы или
                нажмите, чтобы загрузить лицензию
            </div>
        </div>
        <div class="application_button__end">
            <button class="application_button__aplication" type="submit" onclick="">
                ОТПРАВИТЬ ЗАЯВКУ
            </button>
        </div>
        </div>
    </form>
</section>