<section class="partners">
  <h2 class="partners__title">Партнеры проекта</h2>
  <div class="partners__slider">
    <button
      class="slider-button slider-button--prev"
      id="partners-slider-prev"
    ></button>
    <div id="partners-slider">
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
      <div class="partners__slider-slide">
        <div class="partner"></div>
      </div>
    </div>
    <button
      class="slider-button slider-button--next"
      id="partners-slider-next"
    ></button>
  </div>
</section>
