<section class="contacts">
  <div class="wrapper">
    <h2>Остались вопросы — обращайтесь</h2>

    <div class="contacts-cards">  
      <div class="contacts__card">
          <img class="contacts__card-image " src="/src/images/section/IMG_1228 2.png" alt="Данила">
          <div class="contacts__card-text">
              <h3>Координация проекта</h3>
              <h4>«Большая помощь»</h4>
              <h5>Данила Ткачёв</h5> 
              <div class="contscts_search">
                <img
                  class="contacts_search-image"
                  src="/src/images/section/Group.png"
                  alt="phone"
                />
                <div class="contacts_search-text">
                  <a href=”tel:+79319585023>+7 931 958 50 23</a>
                </div></div>
                <div class="contacts_searchs">
                  <img
                    class="contacts_searchs-image"
                    src="/src/images/section/Vector.png"
                    alt="letter"
                  />
                  <div class="contacts_searchs-text">
                    <a href="mailto:tkachev@bf-pomosch.ru">tkachev@bf-pomosch.ru</a>
                  </div></div></div>
          </div>
  </section>

