<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css/norm.css">
    <link rel="stylesheet" href="/style.css/slick.css">

    <!-- slik slide -->
    <link rel="stylesheet" href="/style.css/style.css ">
    <title>events</title>

</head>

<body>

    <section class="events">
        <h2>События и отчеты проекта</h2>
        <div class="slider-reports">
            <div class="sl__slide">
                <img id="sl__foto" src="/src/images/section-events/girl.png" alt="girl">
                <div class="sl__text">
                    <h3>Новости по проекту</h3>
                </div>
            </div>
            <div class="sl__slide">
                <img id="sl__foto" src="/src/images/section-events/woman.jpg" alt="woman">
                <div class="sl__text">
                    <h3>Новости по проекту</h3>
                </div>
            </div>
            <div class="sl__slide">
                <img id="sl__foto" src="/src/images/section-events/boy.jpg" alt="boy">
                <div class="sl__text">
                    <h3>Новости по проекту</h3>
                </div>
            </div>
            <div class="sl__slide">
                <img id="sl__foto" src="/src/images/section-events/girlbook.png" alt="girlbook">
                <div class="sl__text">
                    <h3>Новости по проекту</h3>
                </div>
            </div>
            <div class="sl__slide">
                <img id="sl__foto" src="/src/images/section-events/girl.png" alt="girl">
                <div class="sl__text">
                    <h3>Новости по проекту</h3>
                </div>
            </div>
            <div class="sl__slide">
                <img id="sl__foto" src="/src/images/section-events/woman.jpg" alt="wooman">
                <div class="sl__text">
                    <h3>Новости по проекту</h3>
                </div>
            </div>
        </div>
    </section>
    <script src=" https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/slik.js/slick.min.js"></script>
    <script src="/slik.js/custom.js"></script>
</body>

</html>