<section class="about">
    <h2 class="about__title">О проекте</h2>
    <p class="about__text">С 2017 года наш фонд помогает детям и взрослым в борьбе с тяжёлыми диагнозами. Ежедневно
        мы поддерживаем наших подопечных и знаем потребности больниц, хосписов и реабилитационных центров. Адресная
        помощь направлена на частные случаи и конкретного пациента, но мы также стремимся к развитию системной
        помощи – она позволяет проводить масштабные изменения и улучшать качество оказания медицинской помощи не для
        одного, а для сотен людей.</p>
    <p class="about__text about__text--border"><strong>«Большая помощь»</strong> — системный проект, цель
        которого
        улучшение качества
        оказания медицинской помощи.
        Он создает устойчивую модель сотрудничества, при которой наш фонд выступает партнером, взяв на себя часть
        задач, направленных на поддержку медицинских организаций.</p>
    <p class="about__text">Благодаря вашим пожертвованиям, медицинские учреждения, получают необходимую помощь. Ее
        объем зависит от запроса
        и может быть разным: от разовой покупки медицинского оборудования или редкого препарата, до регулярного
        обеспечения необходимыми расходными материалами. Таким образом, мы вместе развиваем и поддерживаем систему
        здравоохранения, делая медицинскую помощь максимально ориентированной на нужды конкретного пациента.</p>

    {% include "members.html" %}
</section>