<section class="reports">
  <h2 class="reports__title">События и отчеты проекта</h2>
  <div class="reports__slider">
    <button
      class="slider-button slider-button--prev"
      id="reports-slider-prev"
    ></button>
    <div id="reports-slider">
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/girl.png"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/woman.jpg"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/boy.jpg"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/girlbook.png"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/girl.png"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/woman.jpg"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/boy.jpg"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
      <div class="reports__slider-slide">
        <div class="report">
          <img
            class="report__image"
            src="/src/images/section-events/girlbook.png"
            alt="girl"
          />
          <div class="report__text">
            <h3>Новости по проекту</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="slider-button slider-button--next"
      id="reports-slider-next"
    ></button>
  </div>
</section>
