<section class="main">
  {% include "main-nav.html" %}

  <div class="main__container">
    <div class="main__container-pic">
      <picture aria-colcount="donation-image">
        <source
          media="(max-width: 727px)"
          srcset="
            /src/images/header-main/main-pic-xs@2x.jpg 2x,
            /src/images/header-main/main-pic-xs.jpg    1x
          "
        />
        <source
          media="(max-width: 1130px)"
          srcset="
            /src/images/header-main/main-pic-small@2x.jpg 2x,
            /src/images/header-main/main-pic-small.jpg    1x
          "
        />
        <img
          srcset="
            /src/images/header-main/main-pic@2x.jpg 2x,
            /src/images/header-main/main-pic.jpg    1x
          "
          alt="main"
        />
      </picture>
    </div>
    <div class="main__container-content">
      <div>
        <h1 class="main__container-content__title">Большая помощь</h1>
        <p class="main__container-content__text">
          Большая помощь - это долгосрочный системный проект по поддержке
          медицинских учреждений.
        </p>
        <p class="main__container-content__text">
          Его цель - улучшение качества оказания медицинской помощи пациентам
          больниц и хосписов.
        </p>
      </div>
      <div class="main__container-buttons">
        <!-- Якорь на форму пожертвования-->
        <a href="#" class="main__button main__button--light">Помочь</a>
        <!-- Якорь на блок с анкетой-->
        <a href="#" class="main__button main__button--dark">Стать участником</a>
      </div>
    </div>
  </div>
</section>
