<section class="application">
  <h2 class="application__title">СТАТЬ УЧАСТНИКОМ ПРОЕКТА</h2>
  <form class="application__form">
    <div class="application__form-group">
      <label class="application__form-label" for="organization">
        Название организации
      </label>
      <input
        id="organization"
        class="input application__form-input"
        type="text"
      />
    </div>
    <div class="application__form-group">
      <label for="address" class="application__form-label"> Адрес </label>
      <input id="address" class="input application__form-input" type="text" />
    </div>
    <div class="application__form-group">
      <label for="nameMain" class="application__form-label">
        ФИО Главного врача
      </label>
      <input id="nameMain" class="input application__form-input" type="text" />
    </div>
    <div class="application__form-group">
      <label for="nameAgent" class="application__form-label">
        ФИО Представителя
      </label>
      <input id="nameAgent" class="input application__form-input" type="text" />
    </div>
    <div class="application__form-row">
      <div class="application__form-group">
        <label for="mail" class="application__form-label"> Почта </label>
        <input id="mail" class="input application__form-input" type="email" />
      </div>
      <div class="application__form-group">
        <label for="phone" class="application__form-label"> Телефон </label>
        <input id="phone" class="input application__form-input" type="text" />
      </div>
    </div>
    <div class="application__form-group">
      <label for="format" class="application__form-label">
        Формат поддержки: Разово / регулярно
      </label>
      <input id="format" class="input application__form-input" type="text" />
    </div>
    <div class="application__form-group">
      <label class="application__checkbox" for="agreement">
        <input id="agreement" type="checkbox" />
        <span class="application__checkbox-fake"></span>
        даю согласие на обработку моих персональных данных и согласен(а) с
        политикой об обработке персональных данных
      </label>
    </div>
    <div class="application__form-row">
      <a href="#" class="application__button application__button--about">
        ПОЛОЖЕНИЕ ПРОЕКТА
      </a>
      <label
        for="license"
        class="application__button application__button--loading"
      >
        Перетащите сюда файлы или нажмите, чтобы загрузить лицензию
        <input type="file" id="license" />
      </label>
    </div>
    <div class="application__form-submit">
      <button
        class="application__button application__button--submit"
        type="submit"
      >
        ОТПРАВИТЬ ЗАЯВКУ
      </button>
    </div>
  </form>
</section>
