<section class="main">
    {% include "main-nav.html" %}

        <div class="container">
            <div class="container-pic">
                <img  class="container-pic__img" src="/src/images/header-main/pic.png" alt="pic;">
            </div> 
            <div class="container-content">
                <h1 class="container-content__name">Большая <br> помощь</h1>
                <p class="container-content__text1">Большая помощь - это долгосрочный системный проект <br> по поддержке медицинских учреждений.</p>
                <p class="container-content__text2">Его цель - улучшение качества оказания медицинской <br> помощи пациентам больниц и хосписов.</p>
                <div class="container-button">
                    <span class="container-button__1">
                    <button class="container-button__1-0">Стать участником</button>
                </span>
                <span class="container-button__2">
                    <button class="container-button__2-0">Помочь</button>
                </span>
            </div>
            <a href="#">
                <img class="container-logo" src="/src/images/header-main/arrow.svg" alt="arrow">
            </a>
        </div>
    </section>
