<section class="main">
    {% include "main-nav.html" %}

        <div class="container">
            <img  class="container-pic" src="/src/images/header-main/pic.png" alt="pic;">
            <div class="container-content">
                <h1 class="container-content__name">Большая <br> помощь</h1>
                <p class="container-content__text1">Большая помощь - это долгосрочный системный проект <br> по поддержке медицинских учреждений.</p>
                <p class="container-content__text2">Его цель - улучшение качества оказания медицинской <br> помощи пациентам больниц и хосписов.</p>
                <div class="container-button">
                <form action="#">
                    <button class="container-button1">Стать участником</button>
                </form>
                <form action="#">
                    <button class="container-button2">Помочь</button>
                </form>
            </div>
            <a href="#">
                <img class="container-logo" src="/src/images/header-main/logo.svg" alt="arrow">
            </a>
        </div>
    </section>
    
    <h1>Большая помощь</h1>
</section>
