@import 'base';
@import 'base/fonts';

:root {
  font-size: 16px;
  @include max-screen(1600px) {
    font-size: 14px;
  }
  @include max-screen(1440px) {
    font-size: 12px;
  }
  @include max-screen(1130px) {
    font-size: 16px;
  }
  @include max-screen(550px) {
    font-size: 14px;
  }
}
html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: $bg;
  color: $text;

  @include body;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  overflow-y: auto;

  &.locked {
    overflow: hidden;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

*:focus,
*:active {
  outline: none;
}

p {
  margin: rem(16px 0);
  @include max-screen(1130px) {
    margin: rem(10px 0);
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

.locked {
  overflow: hidden !important;
}

@import 'layout';
@import 'blocks';
@import 'components';
