$dark-green: #2c5e5b;
$dark-blue: #415c7a;
$shadow: transparentize(#173557, 0.4);

$text: #000000;
$text-inverse: #ffffff;

$bg: #ffffff;
$bg-gray: #6e6e6e;

$bg-green: #80b19e;
$bg-red: #d55242;

$bg-light-gray: #e2e2e2;

@mixin style-1 {
  background: linear-gradient(90deg, #aec2f9 -34.39%, #a5e1ff 145.2%);
}
@mixin style-2 {
  background: linear-gradient(90deg, #aec2f9 -34.39%, #ff8b9b 145.2%);
}
@mixin style-3 {
  background: linear-gradient(90.06deg, #ff8199 0.01%, #ffe3a5 87.06%);
}
@mixin style-linear {
  background: linear-gradient(90deg, #fffae1 0%, #95d8c8 130.79%);
}
@mixin style-4 {
  background: linear-gradient(
    29.63deg,
    #b5dccc -41.86%,
    rgba(255, 249, 185, 0) 105.48%
  );
}
@mixin style-5 {
  background: linear-gradient(90deg, #ffa18c 0%, #ffffff 94.69%);
}
@mixin style-6 {
  background: linear-gradient(90deg, #ffe7aa 0%, #ffffff 95.37%);
}
@mixin style-7 {
  background: linear-gradient(111.56deg, #2c5e5b 18.82%, #415c7a 64.16%);
}
@mixin style-8 {
  background: linear-gradient(43.59deg, #fff9b9 -22.52%, #ffbfda 163.03%);
}
@mixin style-9 {
  background: linear-gradient(90deg, #b0e8f4 0%, #a5e1ff 79.09%);
}
@mixin style-ozh {
  background: linear-gradient(90deg, #fec28d 0%, #fff9b9 130.79%);
}
@mixin style-by {
  background: linear-gradient(90deg, #9fcbff 0%, #fff7a5 130.79%);
}
@mixin style-bw {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.53) 0%,
    rgba(0, 0, 0, 0) 13.64%
  );
}

@mixin effect-green-links {
  text-shadow: rem(0 0 7px) rgba(44, 94, 91, 0.85);
}
@mixin effect-blue {
  box-shadow: rem(0 0 32px) rgba(203, 243, 255, 0.55);
}
@mixin effect-orange {
  box-shadow: rem(0 0 26px) rgba(255, 223, 185, 0.71);
}
@mixin effect-biruza {
  box-shadow: rem(0 0 26px) rgba(120, 191, 157, 0.65);
}
@mixin effect-dark-blue {
  box-shadow: rem(0 4px 58px 11px) rgba(23, 53, 87, 0.6);
}
@mixin effect-gray {
  box-shadow: rem(-5px 5px 25px) rgba(107, 121, 131, 0.69);
}
