$font-family-base: 'NoirPro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-header: 'Antapani', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin h1 {
  font: 800 130px/120px $font-family-header;
  letter-spacing: 0.04em;
}
@mixin h2 {
  font: 300 57px/68px $font-family-base;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}
@mixin body {
  font: 300 22px/26px $font-family-base;
  letter-spacing: 0.11em;
}
@mixin text-footer {
    font-family: 'Noir Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 197.5%;
  
}
    